<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Hackathon Leaderboard</h1>
    <p>This is a Node application deployed to Heroku. It contains a ranking system for hackathon winners based 
      on the number of awards and and the number of hackathons won.
    </p>
    <table id="example" class="display" style="width:100%">
      <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <a href=""
      </tr>
    </tbody>
    </table>
    
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span>About this app</h3>
      <ul>
        <li>This app was deployed to Heroku using git and made in collabration between Elijah Elrod and Willie McClinton.</li>
        <a type="button" class="btn btn-lg btn-primary" href="https://github.com/elijahelrod"><span class="glyphicon glyphicon-download"></span> Elijah's Github</a>
        <a type="button" class="btn btn-lg btn-primary" href="https://github.com/wmcclinton"><span class="glyphicon glyphicon-download"></span> Willie's Github</a>
       
     
      </ul>
    </div>
  </div> <!-- row -->
</div>
</body>
</html>
