<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <style>
      #scores {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }
      
      #scores td, #scores th {
          border: 1px solid #ddd;
          padding: 8px;
      }
      
      #scores tr:nth-child(even){background-color: #f2f2f2;}
      
      #scores tr:hover {background-color: #ddd;}
      
      #scores th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color:#B01303;
          color: white;
      }
      </style>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Hackathon Leaderboard</h1>
    <p>This is a Node application deployed to Heroku. It contains a ranking system for hackathon winners based 
      on the number of awards and and the number of hackathons won.
    </p>
    <h3><span class="glyphicon glyphicon-info-sign"></span>About this app</h3>
      <ul>
        <li>This app was deployed to Heroku using git and made in collabration between Elijah Elrod and Willie McClinton.</li>
        <a type="button" class="btn btn-lg btn-primary" href="https://github.com/elijahelrod"><span class="glyphicon glyphicon-download"></span> Elijah's Github</a>
        <a type="button" class="btn btn-lg btn-primary" href="https://github.com/wmcclinton"><span class="glyphicon glyphicon-download"></span> Willie's Github</a>
      </ul>
  </div>
</div>

<div class="container"></div>
  <hr>
    <div class="row">
      <div class="col-md-6">
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script type='text/javascript' src='table.js'></script>
    </div>
  </div> <!-- row -->
</div>
</body>
</html>

